.skill{
    margin-left: 10vw;
    margin-top: 10vh;
    display: flex;
}
.skill div{
    margin-left: 10vw;
    width: 6vw;
}
h2{
    margin-left: 5vw;
}
h3{
    margin-left: 5vw;
}
img{
    height: 180px;
    width: 140px;
}
